<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">

<div class=" container text-center text-md-left">
    <section class="hero-section row px-0 mx-0">
        <div class="section-left col-12 col-md-3 mx-auto">
            <img src="../../../assets/images/circular.png">
        </div>
        <div class="section-rigth col-12 col-md-8 mx-auto">
            <div class="About-text">
                <h3 class="text-center">Sobre Mí</h3>
                <p>Me apasiona y me enfoco en el mundo web, por la accesibilidad y las alternativas en la arquitectura y tecnologia, por lo que decidí basar mis habilidades en desarrollo Full Stack, y asi poder llevar a cabo lo aprendido en la carrera, desde
                    analisis, diseño e implementación.
                    <br> Tengo experiencia trabajando en relacion de dependencia y como freelancer, siempre dispuesto a asumir la responsabilidad y encontrar soluciones.
                    <br> Estoy emocionado por la oportunidad de contribuir a proyectos desafiantes y seguir creciendo como profesional en este campo en constante evolución.</p>
            </div>
        </div>
    </section>
</div>

<div class="intro-skills">
    <div>
        <h3>Principales tecnologías</h3>
    </div>
    <div class="skills">
        <div class="skill-a"></div>
        <div class="skill-b"></div>
        <div class="skill-c"></div>

    </div>
</div>
