<div class="contacto">
    <h2 class="text-center pt-3">Contact</h2>
    <div class="container" id="contact">
        <div class="row container">
            <div class="d-flex justify-content-center">
                <form class="col-12 col-md-8 p-3" action="https://formsubmit.co/frighetto23@gmail.com" method="POST">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
                        <textarea class="form-control" name="textarea" id="exampleFormControlTextarea1" rows="3" placeholder="Text here"></textarea>
                    </div>
                    <div class="text-center pt-2 mb-2">
                        <button type="submit" class="btn fw-semibold col-11">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>