.row {
  padding: 0;
  margin: 0;
}

.card {
  margin-top: 20px;
  margin-right: 5px;
}

.contacto {
  background-color: #2a4768;
  color: white;
  padding: 25px;
}

.intro {
  color: white;
  padding: 25px;
}

.card-feature {
  display: flex;
  max-width: 300px;
  min-height: 100px;
  border-radius: 10px;
  background-color: white;
  transition: 0.5s;
  margin: 3em 2em;
}

.card-feature-text {
  padding: 10px;
  justify-content: flex-start;
}
.card-feature h2 {
  font-size: 18px;
  font-weight: bold;
}

.card-feature p {
  font-size: 14px;
  font-weight: regular;
}

.card-feature-icon {
  text-align: center;
  margin: 30px;
}

.card-feature i {
  font-size: 2.5em;
}
