<div class="row d-flex justify-content-around">
	<div class="card"
		style="width: 40%;">
		<img src="./../../../assets/images/ecommerce/articulo.png"
			class="card-img-top"
			alt="...">
		<div class="card-body">
			<h5 class="card-title">Artículo</h5>
			<p class="card-text">
				Visualiza el detalle del artículo y agrega el mismo al carrito.
			</p>
			<a href="#"
				class="btn btn-primary">
				Go somewhere
			</a>
		</div>
	</div>
	<div class="card"
		style="width: 40%;">
		<img src="./../../../assets/images/ecommerce/carrito.png"
			class="card-img-top"
			alt="...">
		<div class="card-body">
			<h5 class="card-title">Carrito de compras</h5>
			<p class="card-text">
				Visualiza el detalle de la compra antes de confirmar la misma.
			</p>
			<a href="#"
				class="btn btn-primary">
				Go somewhere
			</a>
		</div>
	</div>
	<div class="card"
		style="width: 40%;">
		<img src="./../../../assets/images/ecommerce/articulos.png"
			class="card-img-top"
			alt="...">
		<div class="card-body">
			<h5 class="card-title">Artículos</h5>
			<p class="card-text">
				Visualiza todos los articulos. Se pueden aplicar filtros de categoría u oferta.
			</p>
			<a href="#"
				class="btn btn-primary">
				Go somewhere
			</a>
		</div>
	</div>
</div>
