<!-- <div id="mobile-menu-open" class="shadow-large">
  <i class="fa fa-bars" aria-hidden="true"></i>
</div>
<header>
  <ul id="menu" class="shadow">
    <li>
        <p href="#about">About</p>
    </li>
    <li>
        <p href="#experience">Experience</p>
    </li>
    <li>
        <p href="#education">Education</p>
    </li>
    <li>
        <p href="#projects">Projects</p>
    </li>
    <li>
        <p href="#skills">Skills</p>
    </li>
    <li>
        <p href="#contact">Contact</p>
    </li>
</ul>
</header> -->

<!-- <nav class="navbar navbar-expand-lg bg-light">
    <div class="">
      <button class="navbar-toggler shadow-large" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
       aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
       id="mobile-menu-open">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul id="menu" class="navbar-nav shadow">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->

<!-- <div *ngFor="let dato of datosHeader">
            <li class="nav-item">
              <a class="nav-link active" href={{dato.href}}>{{dato.title}}</a>
            </li> -->
<section id="inicio">
	<div class="contenido">
		<header>
			<div class="contenido-header">
				<nav id="nav"
					class="navbar navbar-expand-md">

					<button class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent"
						aria-expanded="false"
						aria-label="Toggle navigation">
						<span class>
							<svg xmlns="http://www.w3.org/2000/svg"
								width="25"
								height="25"
								fill="currentColor"
								class="bi bi-list"
								viewBox="0 0 16 16">
								<path fill-rule="evenodd"
									d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
							</svg>
							Menú
						</span>
					</button>
					<div class="collapse navbar-collapse indices"
						id="navbarSupportedContent">
						<ul id="links"
							class="navbar-nav ps-2">
							<li *ngFor="let dato of headerJSON"
								class="nav-item">
								<a (click)="subirpx()"
									class="nav-link active"
									href={{dato.href}}>
									{{dato.title}}
								</a>
							</li>
						</ul>
					</div>
				</nav>

				<!-- - Iconos del menu responsive -->
				<!-- Icono del menu responsive -->
				<div id="icono-nav"
					onclick="responsiveMenu()">
					<i class="fa-solid fa-bars"></i>
				</div>
				<!-- - Iconos de las redes sociales -->
				<div class="redes">
					<a href="https://www.linkedin.com/in/franco-juli%C3%A1n-frighetto-535758211/"
						target="_blank"
						class="me-2">
						<svg xmlns="http://www.w3.org/2000/svg"
							class="mx-1"
							width="24"
							height="24"
							fill="currentColor"
							class="bi bi-linkedin"
							viewBox="0 0 16 16">
							<path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"></path>
						</svg>
					</a>
					<a href="https://t.me/francofrighetto"
						target="_blank"
						class="me-2">
						<svg xmlns="http://www.w3.org/2000/svg"
							class="mx-1"
							width="24"
							height="24"
							fill="currentColor"
							class="bi bi-telegram"
							viewBox="0 0 16 16">
							<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"></path>
						</svg>
					</a>

				</div>
			</div>
		</header>
		<div class="presentacion">
			<p class="bienvenida">Bienvenido</p>
			<h2 class>
				Somos
				<span>Coresys</span>
				, tu solución digital.
			</h2>

		</div>
	</div>
</section>
