<div id="aboutme" class="pt-0 mt-0 pb-5">
    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 260" class="pb-0">
    <path fill="#0099ff" fill-opacity="1" d="M0,32L30,74.7C60,117,120,203,180,208C240,213,300,139,360,138.7C420,139,480,213,540,224C600,235,660,181,720,176C780,171,840,213,900,192C960,171,1020,85,1080,85.3C1140,85,1200,171,1260,197.3C1320,224,1380,192,1410,176L1440,160L1440,0L1410,0C1380,0,1320,0,1260,0C1200,0,1140,0,1080,0C1020,0,960,0,900,0C840,0,780,0,720,0C660,0,600,0,540,0C480,0,420,0,360,0C300,0,240,0,180,0C120,0,60,0,30,0L0,0Z" data-darkreader-inline-fill="" style="--darkreader-inline-fill:#060606;">
</path> -->
    <!-- <text x="710" y="120" text-anchor="middle" font-size="50" fill="#fff">  < Sobre Mí /> </text>
    </svg> -->
    <div class="container pt-2">
        <h2 class="text-center mt-3 pt-5 titulos-generales">Sobre Mí</h2>
        <div class="ms-5 mt-4 info">
            <p class="col-10">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-return-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z"/>
              </svg> Soy estudiante de Ingeniería en Sistemas de Información, cursando cuarto año, especializandome en el diseño, análisis y arquitectura de Sistemas Informáticos basados en Programación Orientada a Objetos.
            </p>
            <p class="col-10 text-end">
                Actualmente me encuentro trabajando en Desarrollo Web Full Stack, principalmente en Front End.
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                </svg>
            </p>

            <p>Me apasiona y me enfoco en el mundo web, por la accesibilidad y las alternativas en la arquitectura y tecnologia, por lo que decidí basar mis habilidades en desarrollo Full Stack, y asi poder llevar a cabo lo aprendido en la carrera, desde
                analisis, diseño e implementación. Tengo experiencia trabajando en relacion de dependencia y como freelancer, siempre dispuesto a asumir la responsabilidad y encontrar soluciones. Estoy emocionado por la oportunidad de contribuir a proyectos
                desafiantes y seguir creciendo como profesional en este campo en constante evolución.</p>

        </div>
        <div class="row justify-content-around pt-4">
            <div class="col-3 text-center">
                <img src="../../../assets/images/portfolio.png" width="60px">
                <br>
                <span>{{anio}} años experiencia</span></div>
            <div class="col-3 text-center">

                <img src="../../../assets/images/responsive.png" width="60px">
                <br>
                <span>Web Wesponsive</span>
            </div>
            <div class="col-3 text-center">
                <img src="../../../assets/images/desarrollo.png" width="60px">
                <br>
                <span>Desarrollador</span>
            </div>
        </div>
        <div class="row justify-content-around pt-4">
            <h3 class="text-center">Mi Stack</h3>
            <div class="col-3 text-center">
                <img src="../../../assets/images/java.png" width="60px">
                <br>
                <span>POO</span>
            </div>
            <div class="col-3 text-center">
                <img src="../../../assets/images/angular.png" width="60px">
                <br>
                <span>Front End</span>
            </div>
            <div class="col-3 text-center">
                <img src="../../../assets/images/spring boot.png" width="60px">
                <br>
                <span>Back End</span>
            </div>
        </div>
    </div>
</div>
