<form class="row mb-2 width-100 px-2" id="login">
    <div class="mb-3 col-5">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 col-5">

        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary col-4">Submit</button>
    </div>
</form>