<!-- SECCION SERVICIOS -->
<section id="proyectos">
    <h2 class=" text-center mt-3 mb-5 titulos-generales">Proyectos</h2>
    <div class="fila row justify-content-center">
        <div class="servicio col-8 col-md-3 mt-3">
            <span class="icono ">
              <i class="fa-sharp fa-solid fa-cart-shopping"></i>
            </span>
            <h4>eCommerce</h4>
            <hr>
            <ul class="servicios-tag text-center">
                <li>Angular</li>
                <li>PHP</li>
            </ul>
            <p>Links hacia las páginas</p>
            <p>
                <a href="https://marykay-jf.web.app/" target="_blank">
                    <i class="fa-sharp fa-solid fa-arrow-up-right-from-square me-1"></i> Propio
                </a>
            </p>
            <p>
                <a href="https://coronelmayorista.com.ar/" target="_blank">
                    <i class="fa-sharp fa-solid fa-arrow-up-right-from-square  me-1"></i> Realizando mantenimiento
                </a>
            </p>
        </div>
        <div class="servicio col-8 col-md-3 mt-3">
            <span class="icono "><i class="fa-solid fa-hand-holding-hand"></i></span>
            <h4>Servicios</h4>
            <hr>
            <ul class="servicios-tag ">
                <li>Javascript</li>
                <li>PHP</li>
            </ul>
            <p>Pagina informativa con administracion de servicios que brinda la cooperativa y estado de los mismos.</p>
            <a href="https://playocoop.com.ar" target="_blank">
                <i class="fa-sharp fa-solid fa-arrow-up-right-from-square me-1"></i> Página
            </a>
        </div>
        <div class="servicio col-8 col-md-3 mt-3">
            <span class="icono "><i class="fa-solid fa-briefcase"></i></span>
            <h4>Portfolio</h4>
            <hr>
            <ul class="servicios-tag p-0">
                <li>Angular</li>
                <li>PHP</li>
            </ul>
        </div>
    </div>

</section>
